* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80px;
    background-color: #AA10ED;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    top: .4rem;
    left: 50%;
    color: white;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.sidebar p {
    font-size: medium;
    color: white;
    margin-bottom: 20px;
}

.sidebar.active p {
    font-size: large;
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.3rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    transition: all 0.5s ease;
}

.sidebar ul li a:hover {
    background-color: white;
    color: black;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

main {
    flex-grow: 1;
    background-color: white;
    min-height: 100vh;
    margin-left: 80px;
    transition: margin-left 0.5s ease;
    overflow-y: auto;
    padding-bottom: 100px; 
}

.sidebar.active ~ main {
    margin-left: 250px;
}


#right_cont {
    position: fixed;
    bottom: 0;
    left: 80px; 
    width: calc(100% - 80px);
    height: 70px;
    background-color: white;
    border-top: 5px solid orange;
    box-shadow: 0 0 5px gray;
    z-index: 1;
    transition: left 0.5s ease, width 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.active ~ #right_cont {
    left: 250px; 
    width: calc(100% - 250px);
}

#main_cont {
    max-height: 100vh;
    overflow-y: auto;
}

#discover {
    min-height: 100vh;
    background-color: white;
    text-align: center;
    margin-top: 30px;
}

#discover h1 {
    margin: 20px 0 20px 0;
    color: black;
    font-size: xx-large;
    padding: 10px 0 10px 0; 
    background-color: #AA10ED;
}

#discover_banner {
    display: flex;
    justify-content: center;
}

#discover_banner img {
    width: 50%;
    height: 30vh;
}

#latest_music_flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.latest_boxes {
    height: 35vh;
    width: 15%;
    box-shadow: 0 0 5px gray;
    flex-shrink: 0;
    margin: 20px;
}

.discover_image {
    width: 100%;
    height: 20vh;
    z-index: 20;
}
.Dmatter
{
    font-size: 15px;    
    font-weight: bold;
}
h5
{
    font-weight: normal;
}
.discover_belowphoto
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 15%; */
}
.discover_belowphoto i
{
    font-size: 40px;
    color: black;
    cursor: pointer;
}
#get_image
{
    width: 40px;
    height: 40px;
    margin-right: 30px;
    display: none;
}
#right_names
{
    display: flex;
    flex-direction: column;
    display: none;
    /* width: 100px; */
}
#popular_movie
{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
}
/* #popular_movie h1
{
    flex-grow: 1;
} */